# Archives and Temporary Files
*.zip
*.tar.gz
*.rar

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
._*

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
